/*---------- QToolButton ---------*/
QToolButton
{
	background: none;
	border: none;
	image: url(:/resources/openkeywindow10_inactive.png)
}

QToolButton:pressed
{
	background: none;
	border: none;
	image: url(:/resources/openkeywindow10_active.png);
}
