/*---------- QToolButton ---------*/
QToolButton
{
	background: none;
	border: none;
	image: url(:/resources/openkeywindow1_inactive.png)
}

QToolButton:pressed
{
	background: none;
	border: none;
	image: url(:/resources/openkeywindow1_active.png);
}
