/*---------- QPushButton ---------*/
QPushButton
{
        border: 6px solid rgba(0,174,239,255);
        font: 18pt "Futura";
        color: white;
        background: rgba(200,0,0,0);
}

QPushButton:pressed
{
        background: rgba(0,174,239,255);
        border: 6px solid white;
        font: 20pt "Futura";
        color: white;
}
